<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        xmlns:tools="http://schemas.android.com/tools">

    <application
            android:allowBackup="true"
            android:dataExtractionRules="@xml/data_extraction_rules"
            android:fullBackupContent="@xml/backup_rules"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/Theme.ESystem"
            tools:targetApi="31">
        <activity
                android:name=".AttendanceActivity"
                android:exported="false"
                android:label="@string/title_activity_attendance"
                android:theme="@style/Theme.ESystem" />
        <activity
                android:name=".ExerciseActivity"
                android:exported="false"
                android:label="@string/title_activity_exercise"
                android:theme="@style/Theme.ESystem" />
        <activity
                android:name=".HomeActivity"
                android:exported="false"
                android:label="@string/title_activity_home"
                android:theme="@style/Theme.ESystem" />
        <activity
                android:name=".SigninActivity"
                android:exported="false"
                android:label="@string/title_activity_signin"
                android:theme="@style/Theme.ESystem" />
        <activity
                android:name=".IntroThirdActivity"
                android:exported="false"
                android:label="@string/title_activity_intro_third"
                android:theme="@style/Theme.ESystem" />
        <activity
                android:name=".IntrolSecondActivity"
                android:exported="false"
                android:label="@string/title_activity_introl_second"
                android:theme="@style/Theme.ESystem" />
        <activity
                android:name=".IntroFirstActivity"
                android:exported="false"
                android:label="@string/title_activity_intro_first"
                android:theme="@style/Theme.ESystem" />
        <activity
                android:name=".Splash_page"
                android:exported="false"
                android:label="@string/title_activity_splash_page"
                android:theme="@style/Theme.ESystem" />
        <activity
                android:name=".profile_page"
                android:exported="true" />
        <activity
                android:name=".MainActivity"
                android:exported="true" />
        <activity
                android:name=".signin"
                android:exported="true" />
        <activity
                android:name=".introl_three"
                android:exported="true" />
        <activity
                android:name=".introl_second"
                android:exported="true" />
        <activity
                android:name=".introl_first"
                android:exported="true" />
        <activity
                android:name=".splash_screen"
                android:exported="true"
                android:theme="@style/Theme.ESystem">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>